.vscode/**
.vscode-test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

testWorkspace/
.prettierignore
.prettierrc*
.eslintrc*
commitlint.config.*
lint-staged.config.*
.husky/
.github/
assets/demo/**/*.gif
